<.flash_group flash={@flash} />
<div class="left-[40rem] fixed inset-y-0 right-0 z-0 hidden lg:block xl:left-[50rem]">
  <div class="h-full bg-gray-100">
    <ul>
      <li>
        <.link href={~p"/organizations"} class="block p-4 text-gray-900 hover:bg-gray-200">
          Organizations
        </.link>
      </li>
    </ul>
  </div>
</div>
<div class="px-4 py-10 sm:px-6 sm:py-28 lg:px-8 xl:px-28 xl:py-32"></div>
