<.header>
  <%= @meeting.title %>
</.header>

<div class="h-screen grid grid-cols-4 grid-rows-5 gap-4">
  <div class="col-span-1 row-span-4">
    <.card class="h-full">
      <.live_component
        module={MeetingMinuetWeb.ChatComponent}
        id="chat"
        title="Chat"
        chattable_type="meeting"
        chattable_id={@meeting.id}
        current_user={@current_user}
      />
    </.card>
  </div>
</div>
